@import "tailwindcss";

body {
    --tw-bg-opacity: 1;
    background-color: rgb(100 116 139 / var(--tw-bg-opacity));
}

::selection {
    background-color: #8400ffb9;
    color: white;
}

html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

body {
    font-family: Arial, sans-serif;
}

html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;

    /* Hide scrollbar */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

html::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.hello {
    object-fit: contain;
    position: relative;
    left: 45px;
}